.dashboard{
    display:flex;
    min-height:100vh;
}

.main-content{
    flex:1;
    background:#f5f7fb;
}
.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:25px;
}